body {
  color: #333;
}

h1, h2, h3, h4, h5, h6, h7 {
  margin-bottom: 0.5em;
}

a:link, a:visited {
  color: #039;
  text-decoration: underline;
}

a:hover, a:active {
  color: #06c;
  text-decoration: underline;
}

img {
  max-width: 100%;
}

pre, code {
  background: #eaeef3;
  border-radius: 3px;
  font-family: Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 85%;
}

code {
  padding: .2em .4em;
}

.hljs code {
  background: transparent;
  padding: 0;
}

blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

@media screen and (min-width: 40em) {
  body {
    background: #444;
  }
  main {
    color: #333;
    background: white;
    padding: 5em 6em;
    line-height: 1.25;
    max-width: 40em;
    margin: 1em auto;
    box-shadow: 5px 5px 5px #222;
  }
}

#loading {
  position: fixed;
  top: 0.5em;
  left: 0.5em;
  box-shadow: 0 0 5px #000;
}

#footer-menu {
  font-size: 85%;
}

#footer-license {
  float: right;
}